<div class="container">
<div class="animated fadeIn">
  <div class="card-columns cols-2">

    <div class="card">
      <div class="card-header font-weight-bold">
        Total Net Adjustments
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"  [colors]="barChartColors"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <div class="aging-data m-2 mb-4 text-center">
      

        <div class="row">
          <div class="col-md-3 col-sm-6 col-6 aging" *ngFor="let d of agingData">
            <label>{{d.label}}</label>
            <div><strong style="font-size: 14px;"> {{d.value}}</strong> 
              <span class="ml-2 font-weight-bold" [ngClass]="(d.isProfit)?'text-success':'text-danger'">
                 {{d.profit}} <i [ngClass]="(d.isProfit)?'fa fa-arrow-up':'fa fa-arrow-down'" ></i> </span></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>